<!DOCTYPE html>
<html {{{ htmlattributes }}}>
	<head>
		{{{ head }}}

		<% if (!process.env.IS_DEVELOPMENT) { %>
			<% for (let index in htmlWebpackPlugin.files.css) { %>
				<% if (/critical(\..*)?\.css$/.test(htmlWebpackPlugin.files.css[index])) { %>
					<style>
						<%= compilation.getAsset(htmlWebpackPlugin.files.css[index].substr(htmlWebpackPlugin.files.publicPath.length))?.source?._value %>
					</style>
				<% } else { %>
					<link rel="stylesheet" href=<%= `${htmlWebpackPlugin.files.css[index]}` %> media="print" onload="this.media='all'">
					<noscript><link rel="stylesheet" href=<%= `${htmlWebpackPlugin.files.css[index]}` %> media="all"></noscript>
				<% } %>
			<% } %>
		<% } %>
		
		<link rel="preload" href=<%= `/fonts/Montserrat-Regular.woff2` %> as="font" type="font/woff2" crossorigin />
		<link rel="preload" href=<%= `/fonts/Montserrat-Bold.woff2` %> as="font" type="font/woff2" crossorigin />
	</head>
	<body {{{ bodyattributes }}}>
		<div id="root">{{{ html }}}</div>			
		
		<% for (let index in htmlWebpackPlugin.files.js) { %>
			<script defer src="<%= `${htmlWebpackPlugin.files.js[index]}` %>"></script>
		<% } %>

		<script>
      window.__PRELOADED_STATE__ = {{{preloadedState}}};
    </script>
	</body>
</html>
