<!DOCTYPE html>
<html {{{ htmlattributes }}}>
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" href="/fonts/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin />
    {{{ css }}}
    <meta name="theme-color" content="#fff" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <meta name="msapplication-TileColor" content="#ce132d">
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:image" content="/img/logo.jpg" />
    {{{ head }}}
  </head>
  <body {{{ bodyattributes }}}>
    <div id="root">{{{ html }}}</div>

    {{{ scripts }}}

    <script>
      window.__PRELOADED_STATE__ = {{{preloadedState}}};
    </script>
  </body>
</html>
